Berlin Foodies Club

Do you love trying out new food cuisines? If Yes

Join Us

Berlin Foodies CLuNb is a communtiy of food enthusiasts based out of berlin.
Here we share our experiences with various cuisines that Berlin has to offer.



Food is a great way to discover Berlib's culture, have good conversations and develop new friendships especially for folks who are new to Berlin.





We are soon launching our app which will be focused on

Finding menu of each and every restaurant of berlin

Share your newly tried food when and where and how was it

Rate and Create your wishlits of food dishes tried by other food enthuiasts

Search restaurants by specific food items




other country open to talk

<!-- Features -->
<div class="features-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 features">
        <h3>Main features</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 features-box-1">
        <div class="features-box-1-icon">
          <i class="fa fa-eye"></i>
        </div>
        <h4>Easy To Use</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="col-sm-4 features-box-1">
        <div class="features-box-1-icon">
          <i class="fa fa-table"></i>
        </div>
        <h4>Responsive Layout</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="col-sm-4 features-box-1">
        <div class="features-box-1-icon">
          <i class="fa fa-pencil"></i>
        </div>
        <h4>Flat Design</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Single feature -->
<div class="single-feature-container single-feature-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 single-feature-text">
        <h3>Easy to use</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-feature-img">
        <img src="assets/img/iphone-2@2x.png" alt="" width="365" height="444">
      </div>
    </div>
  </div>
</div>

<!-- Single feature -->
<div class="single-feature-container single-feature-no-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 single-feature-text">
        <h3>Responsive layout</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
          aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-feature-img">
        <img src="assets/img/iphone-3@2x.png" alt="" width="365" height="444">
      </div>
    </div>
  </div>
</div>

<!-- Single feature -->
<div class="single-feature-container single-feature-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 single-feature-text">
        <h3>Flat design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 single-feature-img">
        <img src="assets/img/iphone-2@2x.png" alt="" width="365" height="444">
      </div>
    </div>
  </div>
</div>

<!-- Call to action -->
<div class="call-to-action-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 call-to-action-text">
        <h3>Download it now</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
          aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exercitation.
        </p>
        <div class="call-to-action-button">
          <a class="button-2" href="#"><i class="fa fa-mobile"></i> Get it on the App Store</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Subscription form -->
<div class="subscribe-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 subscribe">
        <h3>Subscribe to our newsletter</h3>
        <p>Sign up now to our newsletter and you'll be one of the first to know about new updates:</p>
        <form class="form-inline" role="form" action="assets/subscribe.php" method="post">
          <div class="form-group">
            <label class="sr-only" for="subscribe-email">Email address</label>
            <input type="text" name="email" placeholder="Enter your email..." class="subscribe-email" id="subscribe-email">
          </div>
          <button type="submit" class="btn">Subscribe</button>
        </form>
        <div class="success-message" style="display: none;"></div>
        <div class="error-message" style="display: none;"></div>
      </div>
    </div>
  </div>
</div>

<!-- Testimonials -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 testimonials">
      <h3>What our users say</h3>
      <div class="testimonial-active"><p>
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
        <br>
        <a href="">John Doe, johndoe.com</a>
      </p></div>
      <div class="testimonial-quote">“ ”</div>
      <div class="testimonial-single">
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
          <br>
          <a href="">John Doe, johndoe.com</a>
        </p>
        <div class="testimonial-single-image">
          <img src="assets/img/testimonials/1.jpg" alt="" style="opacity: 1;">
        </div>
      </div>
      <div class="testimonial-single">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et.
          <br>
          <a href="">Jane Jonsson, blog.jane.com</a>
        </p>
        <div class="testimonial-single-image">
          <img src="assets/img/testimonials/2.jpg" alt="">
        </div>
      </div>
      <div class="testimonial-single">
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam,
          quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut.
          <br>
          <a href="">John Doe, johndoe.com</a>
        </p>
        <div class="testimonial-single-image">
          <img src="assets/img/testimonials/3.jpg" alt="">
        </div>
      </div>
      <div class="testimonial-single">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et.
          <br>
          <a href="">Jane Jonsson, blog.jane.com</a>
        </p>
        <div class="testimonial-single-image">
          <img src="assets/img/testimonials/2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Who's behind this -->
<div class="whos-behind-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 whos-behind">
        <h3>Who's behind this</h3>
        <p>
          Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
          lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <img src="assets/img/team/1.jpg" alt="">
          <div class="whos-behind-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>John Doe</h4>
        <h5>Developer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="col-sm-4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <img src="assets/img/team/2.jpg" alt="">
          <div class="whos-behind-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Tim Brown</h4>
        <h5>Founder</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
      <div class="col-sm-4 whos-behind-box-1">
        <div class="whos-behind-photo">
          <img src="assets/img/team/3.jpg" alt="">
          <div class="whos-behind-social">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <h4>Sarah Red</h4>
        <h5>Designer</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          labore et.
        </p>
      </div>
    </div>
    <!-- Latest tweets -->
    <div class="row">
      <div class="col-sm-12 latest-tweets">
        <h4>Our Latest Tweets</h4>
        <p class="tweet-active">2 Free Bootstrap Contact Form Templates <a href="http://azmind.com/2015/06/14/bootstrap-contact-forms/">azmind.com/2015/06/14/boo…</a> <a href="http://api.twitter.com/search?q=&amp;tag=Bootstrap&amp;lang=all" class="tweet_hashtag">#Bootstrap</a> <a href="http://api.twitter.com/search?q=&amp;tag=Template&amp;lang=all" class="tweet_hashtag">#Template</a> <a href="http://api.twitter.com/search?q=&amp;tag=Responsive&amp;lang=all" class="tweet_hashtag">#Responsive</a> <a href="http://twitter.com/anli_zaimi/status/610169218030542848/photo/1">pic.twitter.com/1YPT8uhbWM</a></p>
        <div class="tweets"><ul class="tweet_list"><li class="tweet_first tweet_odd"><span class="tweet_time" style="display: none;"><a href="http://twitter.com/anli_zaimi/status/610169218030542848" title="view tweet on twitter">about a day ago</a></span> <span class="tweet_text" style="display: none;">2 Free Bootstrap Contact Form Templates <a href="http://azmind.com/2015/06/14/bootstrap-contact-forms/">azmind.com/2015/06/14/boo…</a> <a href="http://api.twitter.com/search?q=&amp;tag=Bootstrap&amp;lang=all" class="tweet_hashtag">#Bootstrap</a> <a href="http://api.twitter.com/search?q=&amp;tag=Template&amp;lang=all" class="tweet_hashtag">#Template</a> <a href="http://api.twitter.com/search?q=&amp;tag=Responsive&amp;lang=all" class="tweet_hashtag">#Responsive</a> <a href="http://twitter.com/anli_zaimi/status/610169218030542848/photo/1">pic.twitter.com/1YPT8uhbWM</a></span><span class="tweet_nav" style="background: rgb(255, 255, 255);"></span></li><li class="tweet_even"><span class="tweet_time" style="display: none;"><a href="http://twitter.com/anli_zaimi/status/608997681969688576" title="view tweet on twitter">about 4 days ago</a></span> <span class="tweet_text" style="display: none;">Web Design Deals of the Moment <a href="http://api.twitter.com/search?q=&amp;tag=1&amp;lang=all" class="tweet_hashtag">#1</a> <a href="http://azmind.com/2015/06/11/web-design-deals-1/">azmind.com/2015/06/11/web…</a></span><span class="tweet_nav"></span></li><li class="tweet_odd"><span class="tweet_time" style="display: none;"><a href="http://twitter.com/anli_zaimi/status/607879113244876800" title="view tweet on twitter">about 7 days ago</a></span> <span class="tweet_text" style="display: none;">[Template Update] Andia v2.1 - latest Bootstrap, pricing tables <a href="http://azmind.com/2015/06/07/template-update-andia-v2-1-latest-bootstrap-pricing-tables/">azmind.com/2015/06/07/tem…</a> <a href="http://api.twitter.com/search?q=&amp;tag=bootstrap&amp;lang=all" class="tweet_hashtag">#bootstrap</a> <a href="http://twitter.com/anli_zaimi/status/607879113244876800/photo/1">pic.twitter.com/EVaQA8vwpH</a></span><span class="tweet_nav"></span></li><li class="tweet_even"><span class="tweet_time" style="display: none;"><a href="http://twitter.com/anli_zaimi/status/606440159232565248" title="view tweet on twitter">about 11 days ago</a></span> <span class="tweet_text" style="display: none;">25 Beautiful Login Form Designs for Inspiration <a href="http://azmind.com/2015/06/04/25-login-forms-inspiration/">azmind.com/2015/06/04/25-…</a> <a href="http://api.twitter.com/search?q=&amp;tag=inspiration&amp;lang=all" class="tweet_hashtag">#inspiration</a> <a href="http://api.twitter.com/search?q=&amp;tag=webdesign&amp;lang=all" class="tweet_hashtag">#webdesign</a> <a href="http://twitter.com/anli_zaimi/status/606440159232565248/photo/1">pic.twitter.com/whgmrbIkxx</a></span><span class="tweet_nav"></span></li><li class="tweet_odd"><span class="tweet_time" style="display: none;"><a href="http://twitter.com/anli_zaimi/status/605060541959290880" title="view tweet on twitter">about 15 days ago</a></span> <span class="tweet_text" style="display: none;">Multi Step Registration Form with Bootstrap, CSS3, jQuery <a href="http://azmind.com/2015/05/31/multi-step-registration-form-bootstrap-css3-jquery/">azmind.com/2015/05/31/mul…</a> <a href="http://api.twitter.com/search?q=&amp;tag=bootstrap&amp;lang=all" class="tweet_hashtag">#bootstrap</a> <a href="http://api.twitter.com/search?q=&amp;tag=template&amp;lang=all" class="tweet_hashtag">#template</a> <a href="http://twitter.com/anli_zaimi/status/605060541959290880/photo/1">pic.twitter.com/yuJWJvG5PK</a></span><span class="tweet_nav"></span></li></ul></div>
      </div>
    </div>
  </div>
</div>

<!-- How to contact us -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 contact">
      <h3>How to contact us</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 contact-form">
      <h4>Send us a message</h4>
      <form role="form" action="assets/contact.php" method="post">
        <div class="form-group">
          <label class="sr-only" for="contact-email">Email</label>
          <input type="text" name="email" placeholder="Email..." class="contact-email" id="contact-email">
        </div>
        <div class="form-group">
          <label class="sr-only" for="contact-subject">Subject</label>
          <input type="text" name="subject" placeholder="Subject..." class="contact-subject" id="contact-subject">
        </div>
        <div class="form-group">
          <label class="sr-only" for="contact-message">Message</label>
          <textarea name="message" placeholder="Message..." class="contact-message" id="contact-message"></textarea>
        </div>
        <button type="submit" class="btn">Send</button>
      </form>
    </div>
    <div class="col-sm-5 contact-address">
      <h4>Come visit us</h4>
      <div class="map" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 48px; top: -81px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 48px; top: 175px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -208px; top: -81px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: -208px; top: 175px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 304px; top: -81px;"></div><div style="width: 256px; height: 256px; transform: translateZ(0px); position: absolute; left: 304px; top: 175px;"></div></div></div></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 48px; top: -81px;"><canvas draggable="false" height="512" width="512" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px;"></canvas></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 48px; top: 175px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -208px; top: -81px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: -208px; top: 175px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 304px; top: -81px;"></div><div style="width: 256px; height: 256px; overflow: hidden; transform: translateZ(0px); position: absolute; left: 304px; top: 175px;"></div></div></div></div><div style="position: absolute; z-index: 0; transform: translateZ(0px); left: 0px; top: 0px;"><div style="overflow: hidden; width: 458px; height: 210px;"><img src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i8746400&amp;2i6030498&amp;2e1&amp;3u15&amp;4m3&amp;1u916&amp;2u420&amp;3e2&amp;5m5&amp;1e0&amp;5sen-US&amp;6sus&amp;10b1&amp;12b1&amp;token=80699" style="width: 458px; height: 210px;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div aria-hidden="true" style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;"><div style="transform: translateZ(0px); position: absolute; left: -208px; top: -81px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17082!3i11778!2m3!1e0!2sm!3i306168447!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 48px; top: 175px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17083!3i11779!2m3!1e0!2sm!3i306200121!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 48px; top: -81px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt1.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17083!3i11778!2m3!1e0!2sm!3i306200121!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 304px; top: -81px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17084!3i11778!2m3!1e0!2sm!3i306200121!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: -208px; top: 175px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17082!3i11779!2m3!1e0!2sm!3i306163401!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div><div style="transform: translateZ(0px); position: absolute; left: 304px; top: 175px; width: 256px; height: 256px; opacity: 1; transition: opacity 200ms ease-out; -webkit-transition: opacity 200ms ease-out;"><img src="http://mt0.googleapis.com/vt?pb=!1m4!1m3!1i15!2i17084!3i11779!2m3!1e0!2sm!3i306200121!3m9!2sen-US!3sUS!5e18!12m1!1e47!12m3!1e37!2m1!1ssmartmaps!4e0!5m1!5f2" draggable="false" style="-webkit-user-select: none; border: 0px; padding: 0px; margin: 0px; width: 256px; height: 256px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="transform: translateZ(0px); position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" style="position: static; overflow: visible; float: none; display: inline;" href="https://maps.google.com/maps?ll=45.067883,7.687231&amp;z=15&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps"><div style="width: 62px; height: 26px; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 62px; height: 26px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 168px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data ©2015 Google</span></div></div></div><div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 79px; top: 15px; background-color: white;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2015 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -webkit-user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2015 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 96px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><div draggable="false" class="gm-style-cc" style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right;"><a target="_new" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@45.067883,7.687231,15z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div></div></div>
      <h4>Address</h4>
      <p><i class="fa fa-map-marker"></i>Via Principe Amedeo 9, 10100, Torino, TO, Italy</p>
      <p><i class="fa fa-phone"></i>Phone: 0039 333 12 68 347</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-7 footer-copyright">
        <p>© Quadris Bootstrap Template by <a href="http://azmind.com" target="_blank">Azmind</a><br>All rights reserved.</p>
      </div>
      <div class="col-sm-5 footer-social">
        <a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>
        <a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>
        <a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>
        <a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>
        <a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>
      </div>
    </div>
  </div>
</footer>



